@import '~@fontsource/catamaran/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  size: A4;
  margin: 0;
}

html {
  @apply bg-white;
  @apply w-screen m-0 p-0;
}

body {
  @apply font-body font-light text-gray-900;
}

@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 300;
  src: local('Catamaran ExtraLight'), local('Catamaran-ExtraLight'),
    url(/fonts/catamaran/catamaran-v4-latin-200.woff2) format('woff2'),
    url(/fonts/catamaran/catamaran-v4-latin-200.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 400;
  src: local('Catamaran ExtraLight'), local('Catamaran-ExtraLight'),
    url(/fonts/catamaran/catamaran-v4-latin-200.woff2) format('woff2'),
    url(/fonts/catamaran/catamaran-v4-latin-200.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 700;
  src: local('Catamaran SemiBold'), local('Catamaran-SemiBold'),
    url(/fonts/catamaran/catamaran-v4-latin-600.woff2) format('woff2'),
    url(/fonts/catamaran/catamaran-v4-latin-600.woff) format('woff');
  font-display: swap;
}
@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 800;
  src: local('Catamaran ExtraBold'), local('Catamaran-ExtraBold'),
    url(/fonts/catamaran/catamaran-v4-latin-800.woff2) format('woff2'),
    url(/fonts/catamaran/catamaran-v4-latin-800.woff) format('woff');
  font-display: swap;
}

.text-vertical {
  writing-mode: vertical-lr;
}
